{% extends "base.html" %}

{% block title %}Home
{% endblock title %}

{% block body %}
{%load static %}
{%load static %}<img class="logo-image" src="{% static "media/logorit.jpeg" %}"/>
 <div class="stardusthome">S.T.A.R.D.U.ST</div>

    <p class="lefti1" align="center">We are S.T.A.R.D.U.ST of Ramaiah Institute of Technology and we're working towards building <BR>an indigenous Student Satellite and we serve as a platform for all the Space Enthusiasts <BR>from different disciplines of Engineering in our college.</p>
  
<BR><BR><BR>
<BR><BR>
{% endblock body %}